/* VARIABLES */

/* colores*/

$yellow-custom: rgb(241, 241, 3) ;
$grey-custom:#212529;
$padding-muy-grande:30px;
$padding-grande:20px;
$padding-mediano:15px;
$padding-pequeño: 10px ;
$padding-muy-pequeño:5px;
$padding-nulo: 0px ;
$margin-pequeño: 10px;
$margin-nulo:0px;


/* MAP */

$encabezado:(
  centrar: center;
  centrar-texto: center;
  padding: 15px;
  )
